	nav {
	display: flex;
}

header nav {
	float: right;
}

.navButton {
	margin: auto 10px;
}

@media screen and (max-width: 1080px) {
	nav {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
	}
}